<div class="col-3 ">
   <ul class="list-group">
    <li class="list-group-item">Trang Chủ</li>
    <li class="list-group-item">Lịch hẹn</li>
    <li class="list-group-item">Hồ sơ bệnh nhân</li>
    <li class="list-group-item">Doanh thu</li>
    <li class="list-group-item">Chi phí</li>
    <li class="list-group-item">Thiết bị</li>
   </ul>
</div>