<div class="col">
<h2>HỒ SƠ BỆNH NHÂN</h2>
    {{#each profiles}}
        <div class="card">
            <div class="card-body">
                <i class="bi bi-list-ul"></i>
                <span>{{this.name.firstname}} {{this.name.lastname}} - {{this.phone}} - MS.{{this.ms`}}</span>
        </div>
        </div> 
    {{/each}}
</div>