<div class="col-md-8">
<h2>HỒ SƠ BỆNH NHÂN</h2>
    {{#each profiles}}
        <div class="card">
            <div class="card-body">
            This is some text within a card body.
        </div>
        </div> 
    {{/each}}
</div>