<div class='search-form'>
  <form method='post'>
    <div class='form-group'>
      <label for='search-input' class='form-label'>Từ khóa</label>
      <input
        type='text'
        name='q'
        class='form-control'
        id='search-input'
        placeholder='Nhập từ khóa ...'
      />
      <div id='emailHelp' class='form-text'>We'll never share your email with
        anyone else.</div>
    </div>

    <button type='submit' class='btn btn-primary'>Tìm kiếm</button>
  </form>
</div>